@(list:List[models.CartDetails])
@adminHeader("Order Products")


<center><div><h3><font color="green">@flash.get("success")</font></h3></div></center>
<br>
<h2 align="center">Customers Order Products List</h2>
<hr>
<form>
 <div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>	
					<tr>	
						<th>Customer Id </th>				
						<th>Customer name</th>
						<th>Quantity </th>
						<th>Amount </th>						
					</tr>							
				</thead>
				<tbody>
				
				@for(pro <- list){
						<tr>
							<td>@pro.customer.id</td><td>@pro.customer.customer_name</td>
							<td>@pro.quantity</td>	<td>@pro.amount</td>				
						</tr>	
				}
				</tbody>
			</table>
				
		</div>
	</div>
</div>
</form>

@*					@for(pro <- list){					
					<tr>
						@if(pro.customer.id!=cid&&count==0){					
							<td>@pro.customer.id</td><td>@pro.customer.customer_name</td><td>@pro.customer.gender</td>							
							@(cid=pro.customer.id)							
							@(q=q+pro.quantity)
							@(p=p+pro.amount)
							@(count=count+1)
							
					}
					else if(@(pro.customer.id==cid)){						
							@(q=q+pro.quantity)
							@(p=p+pro.amount)							
					}
					else{	
						<td>@pro.quantity</td>	<td>@pro.amount</td>	
						@(count=0)		
					}				
					</tr>
				}*@