@header("Register Page")

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h2 class="text-center login-title">Registration Page</h2>
            <hr />
            <div class="account-wall">
                
               <form action="@routes.CustomerController.store()" id="registration-form" method="POST">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> User name</label>
                <input type="text" class="form-control" placeholder="Your Name" id="name" name="name" required autofocus><br>
                
	            <label for="usrname"><span class="glyphicon glyphicon-envelope"></span> Email</label>
	            <input type="text" class="form-control" placeholder="Email" id="email" name="email" onkeyup="checkEmail();" required ><br>
	            <div id="emailSpan" class="control-label" style="color:red"></div>
                
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" required ><br>
                
                <div class="form-group">
					<label class="control-label col-sm-2" for="gender">Gender:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="gender" value="m">Male&nbsp;&nbsp;&nbsp;			
						<input type="radio" name="gender" value="f"> Female
				</div>
                
                <label for="usrname"><span class="glyphicon glyphicon-align-justify"></span> Address</label>
                <input type="text" class="form-control" placeholder="Address" name="address" required><br>
                
                <label for="psw"><span class="glyphicon glyphicon-phone-alt"></span> Mobile</label>
                <input type="number" class="form-control" placeholder="Mobile Number" name="mobile" required><br>       
	
                <button class="btn btn-lg btn-primary btn-block" id="enquiry_form" type="submit">Register</button>
                
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
               </form>
            </div>
        </div>
    </div>
</div>

<!-- <script type="text/javascript">
function checkEmail(){
	var email=$('input#email').val();
	$.get('/getEmail/'+email, function(data){
		$('#emailSpan').html(data);
		var div=$('#emailSpan').val();
		if(div.value == ""){
			document.getElementById("enquiry_form").disabled = false;
		}else{
			document.getElementById("enquiry_form").disabled = true;
			$('#emailSpan').val()="";
		}
			
	});
}

$('#enquiry_form').click(function(){
	var div=$('#emailSpan').val();
	alert("value: ");
	if(div.value == ""){
		return true;
	}else{
		alert("Already exist this email id please change");
		return false;
	}
});
</script> -->